.clearfix:: after {
	content:"";
	display: block;
	clear: both;
}
*{
	font-family: "Comic Sans MS";
}
body {
	background-color: #dcdcdc
}
header {
	width: 100%;
	height: 150px;
	background-color: #dcdcdc
}
.header-title {
	color: #444444;
	font-size: 45px;
	font-weight: 800;
	padding: 20px 20px 0 0;
	margin: 0 20px 0 50px;
}
.introduction {
	float: left;
	font-size: 25px;
	color: #444444;
	padding: 0 40px;
	margin: 0 20px;
}
.header-list ul {
	float: right;
}
.header-list li {
	font-weight: 600;
 	font-size: 25px;
 	float: left;
 	list-style: none;
 	color: #444444;
 	padding: 0 10px;
 	margin: 5px 10px;
}
.header-list a {
	text-decoration: none
}
#hidden-box {
	display: none;
}
.eng {
	font-size: 20px;
	float: right;
	margin-right: 40px;
}
.main-contents {
	font-family: "Comic Sans MS";
}
.top-img {
	width: 100%;
	height: 400px;
}
.section-title {
	text-align: center;
	font-weight: 600;
	font-size: 35px;
	font-family: "Comic Sans MS";
	color: #444444;
}
#works {
	width: 100%;
}
.works-item {
    width: 18%;
    float: left;
    position: relative;
}
.works-item-1 {
	display: block;
	width: 100%;
	margin: 20px 30px;
}
.works-item-2 {
	display: block;
	width: 100%;
	margin: 20px 30px;
}
.works-item-3 {
	display: block;
	width: 100%;
	margin: 20px 30px;
}
.box p {
	z-index: 98;
	font-size: 20px;
	font-weight: 600;
	font-family: "Comic Sans MS";
	display: none;
	position: absolute;
	top: 50px;
	left: 70px;
	padding: 5px;
  	color: black;
}
.works-item img {
	width: 92%;
	display: block;
	margin: 20px 40px; 
}
.works-item img:hover {
	opacity: 0.3;
}
.works-item:hover .box p{
	display: inline-block;
	z-index: 99
}
#profile {
	color: #444444;
	margin-top: 600px;
	width: 100%;
}
.profile-contents-jp {
	text-align: center;
}
.profile-contents-en {
	text-align: center;
	display: none;
}
.profile-contents-jp li {
	list-style: none;
}
.profile-contents-en li {
	list-style: none;
}
.monthly-calender iframe {
	display: block;
	margin: 0 auto;
}
.name .tel {
	width: 40%;
	height: 20px;
}
.mail {
	width: 40%;
	height: 20px;
}
.submit {
	width: 30%;
	height: 30px;
}
select {
	width: 40%;
	height: 20px;
}
textarea {
	width: 40%;
	height: 40px;
}
#contact p {
	margin-bottom: 5px;
	color: #444444;
}
footer {
	border-top: solid 3px #444444;
	color: #444444;
}
footer h1 {
	font-size: 20px;
	float: left;
}
footer ul {
	float: right;
}
footer li {
	float: left;
	font-size: 15px;
	list-style: none;
	padding: 0 10px;
	font-weight: 600;
}
footer p {
	text-align: center;
	margin-top: 60px;
}
footer a {
	text-decoration: none
}
@media all and (max-width:1024px) {
	.header-list a {
		display: none;
	}
	#hidden-box {
		display: block;
	}
	.eng {
		display: none;
	}
}
#ham-menu {
    background-color: #dcdcdc; /*メニュー背景色*/
    box-sizing: border-box;
    height: 100%;
    padding: 20px 40px; /*メニュー内左右上下余白*/
    position: fixed;
    right: -300px; /*メニュー横幅 width と合わせる*/
    top: 0;
    transition: transform 0.3s linear 0s; /*0.3s はアニメーションにかかる時間*/
    width: 300px; /*メニュー横幅*/
    z-index: 1000;
}
#ham-menu li {
	list-style: none;
	padding: 15px 10px;
}
#menu-background {
    background-color: #dcdcdc; /*黒背景*/
    display: block;
    height: 100%;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.3s linear 0s; /*0.3s はアニメーションにかかる時間*/
    width: 100%;
    z-index: -1;
}
#menu-icon {
    background-color: #dcdcdc; /*アイコン部分背景色*/
    border-radius: 0 0 0 10px; /*左下角丸*/
    color: #333; /*アイコン（フォント）色*/
    cursor: pointer;
    display: block;
    font-size: 50px; /*アイコン（フォント）サイズ*/
    height: 50px; /*アイコン縦高さ*/
    line-height: 50px; /*縦位置中央化*/
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width: 50px; /*アイコン横幅*/
    transition: all 0.3s linear 0s; /*0.3s はアニメーションにかかる時間*/
    z-index: 1000;
}

#menu-cb {
    display: none; /*チェックボックス本体は消しておく*/
}

#menu-cb:checked ~ #ham-menu,
#menu-cb:checked ~ #menu-icon {
    transform: translate(-300px); /*メニュー本体横幅 width と合わせる*/
}

#menu-cb:checked ~ #menu-background {
    opacity: 0.5;
    z-index: 999;
}